quotes {
    margin-left: 25px;
    margin-top: 10px;
}
button{
    margin-left: 130px;
    margin-top: 4px;
}
ul{
    margin: auto;
    padding: auto;
}
ul li{
    
   list-style: none;
    display: inline-block;
    height: 20px;
    width:30px;
    border: 1px solid black;
}